$primary-color: #1B52F5;
$secondary-color: rgba(255,255,255,0.1);
$tertiary-color: rgba(255,255,255,0.3);
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Quicksand', sans-serif;

@mixin button-background {
    background-color: $secondary-color;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    flex-shrink: 1 0 auto;

    &:hover, &:focus {
        background-color: $tertiary-color;
        outline: none;
    }
}
@mixin flex-row-standard {
    display: flex;
    align-items: center;
}
@mixin flex-column-standard {
    display: flex;
    flex-direction: column;
}
@mixin round-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
@mixin rectangle-button {
    min-width: 100px;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
}

.genre-view {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
     
}

.genre-flex-start-btn {
    align-self: flex-start;
}

.genre-info-container {
    padding: 20px 50px;
}

.genre-view-name {
    font-weight: 700;
    font-size: 48px;
}


.genre-view-description {
    font-size: 24px;
    width: 90%;
    margin-top: 20px; 
}


.genre-movies-flex {
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
}

.genre-view-back-btn {
    @include button-background();
    @include round-button();
}

.genre-title {
    font-size: 24px;
    padding-left: 150px;
    font-weight: 400;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 1024px) {
    .genre-view {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;       
    }

    .genre-flex-start-btn {
        padding-left: 20px;
    }
        
    .genre-info-container {
        text-align: center;
        padding: 10px;
    }

    .genre-view-description {
        margin: 0 auto;
        text-align: center;
    }

    .genre-movies-flex {
        justify-content: center;
    }

    .genre-title {
        padding: 0;
        text-align: center;
    }

    .genre-movies-flex {
        padding: 0;
    }
}

@media only screen and (max-width: 411px) {
    .genre-view-description {
        font-size: 16px;
    }
}