$primary-color: #1B52F5;
$secondary-color: rgba(255,255,255,0.1);
$tertiary-color: rgba(255,255,255,0.3);

.genre-view {
    display: flex;
    width: 100vw;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;

    .flex-start-btn {
        align-self: flex-start;

        .btn {
            height: 50px;
            width: 50px;
            background-color: $secondary-color;
            transition: background-color 0.3s;
            border-radius: 50px;
            color: white;
            cursor: pointer;
            margin: 20px 0;
            font-size: 12px;
            flex-shrink: 0;
        }
    
        .back {
            margin-right: 30px;
            &:hover {
                background-color: $tertiary-color;
            }
        }

    }
    .genre-container {
        padding: 20px 50px;

        .genre-info {

            h1 {
                font-weight: 700;
            }

            p {
                font-size: 24px;
                width: 90%;
                margin-top: 20px; 
            }
        }

        .movies-flex {
            display: flex;
            flex-wrap: wrap;
        }
    }

    
}

.genre-title {
    font-size: 24px;
    padding-left: 150px;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}