$primary-color: #1B52F5;
$secondary-color: rgba(255,255,255,0.1);
$tertiary-color: rgba(255,255,255,0.3);
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Quicksand', sans-serif;

@mixin button-background {
    background-color: $secondary-color;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    flex-shrink: 1 0 auto;

    &:hover, &:focus {
        background-color: $tertiary-color;
        outline: none;
    }
}
@mixin flex-row-standard {
    display: flex;
    align-items: center;
}
@mixin flex-column-standard {
    display: flex;
    flex-direction: column;
}
@mixin round-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
@mixin rectangle-button {
    min-width: 100px;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
}
@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.profile-container {
    display: flex;
    width: 100vw;
    padding: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

.flex-start-btn {
    align-self: flex-start;
    position: absolute;
    left: 20px;
    top: -100px;
}

.btn {
    height: 50px;
    width: 50px;
    background-color: $secondary-color;
    transition: background-color 0.3s;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    margin: 20px 0;
    font-size: 12px;
    flex-shrink: 0;
    
}

.profile-view-back-btn {
    @include button-background();
    @include round-button();
}

.profile-image {
    border-radius: 50%;
    margin-bottom: 30px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.profile-update-account-btn {
    @include button-background();
    @include rectangle-button();
    width: 200px;
    margin: 10px 0;
}

.delete-account-btn {
    @include button-background();
    @include rectangle-button();
    background-color: #BF3000;
    width: 200px;

    &:hover, &:focus {
        background-color: lighten(#BF3000, 10%);
    }
}

.favortie-movie-container {
    @include flex-column-standard();
    width: 70vw;
    padding: 50px;

    .movie-grid {
        justify-content: flex-start;
    }
}

.favorite-movie-title {
    font-family: $primary-font;
    font-size: 24px;
    font-weight: 400;
}

.remove-favorite-btn {
    @include round-button();
    @include button-background();
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    transition: background-color 0.3s;

    &:hover {
        background-color: #BF3000;
    }
}

@media only screen and (max-width: 1024px) {
    .profile-container {
        flex-direction: column;
        padding: 0;
    }

    .profile-info {
        width: 100vw;
        margin-top: 80px;
    }

    .flex-start-btn {
        top: -80px;
    }

    .favorite-movie-title {
        text-align: center;
    }

    .favorite-movie-container {
        width: 100vw;
        margin-top: 100px;
        text-align: center;
    }
}
