.movies-list {
    height: 100%;
    width: 100%;
    padding: 70px 165px;
}

.movie-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 70px;
}

@media only screen and (max-width: 768px) {
    .movies-list {
        padding: 80px 40px;
    }
    .movie-layout {
        padding-bottom: 60px;
    }
}

@media only screen and (max-width: 425px) {
    .movies-list {
        padding: 120px 0;
    } 
}