@import './root.scss';

@mixin button-background {
    background-color: $secondary-color;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    flex-shrink: 1 0 auto;

    &:hover, &:focus {
        background-color: $tertiary-color;
        outline: none;
    }
}
@mixin flex-row-standard {
    display: flex;
    align-items: center;
}
@mixin flex-column-standard {
    display: flex;
    flex-direction: column;
}
@mixin round-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
@mixin rectangle-button {
    min-width: 100px;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
}

body {
    background-color: black;
    color: white;
    margin: 0;
}
